#clockContainer {
  position: relative;
  margin: auto;
  height: 40vw;
  width: 40vw;
  background: url(clock2.png) no-repeat;
  background-size: 100%;
}

#hour,
#minute,
#second {
  position: absolute;
  background: black;
  border-radius: 10px;
  transform-origin: bottom;
}
#hour {
  width: 2.5%;
  height: 25%;
  top: 25%;
  left: 48.6%;
  opacity: 0.8;
}
#minute {
  width: 1.6%;
  height: 36.2%;
  top: 14%;
  left: 49%;
  background-color: #577ff9;
}
#second {
  background: red;
  width: 1%;
  height: 40.8%;
  top: 9%;
  left: 49.33%;
}
